<?xml version="1.0" encoding="gb2312"?>
<list>
	<caption>Member List</caption>
	<tag>
		<id>10</id>
		<label>个人账户管理</label>
		<status>1</status>
		<sub>
			<sub-label>个人信息</sub-label>
			<href>accountinfo.do?p=1001</href>
			<sub-id>1001</sub-id>
		</sub>
		<sub>
			<sub-label>个人设置</sub-label>
			<href>accountsets.do?p=1002</href>
			<sub-id>1002</sub-id>
		</sub>
	</tag>

	<tag>
		<id>20</id>
		<label>服务管理</label>
		<status>0</status>
		<sub>
			<sub-label>服务列表</sub-label>
			<href>servicelist.do?p=2001</href>
			<sub-id>2001</sub-id>
		</sub>
		<sub>
			<sub-label>服务设置</sub-label>
			<href>servicesets.do?p=2002</href>
			<sub-id>2002</sub-id>
		</sub>
	</tag>


</list>