<?xml version="1.0" encoding="UTF-8" ?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:util="http://www.springframework.org/schema/util"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
       http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.0.xsd
       http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.0.xsd
       http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-2.0.xsd"
	default-autowire="byName">
	<bean id="baseJdbcDao" class="com.iwisdom.common.dao.impl.BaseJdbcDao"></bean>
	<bean id="voteDao" class="com.iwisdom.vote.dao.impl.VoteDaoImpl"></bean>

	<!-- -->
	<bean id="userDao" class="com.iwisdom.common.dao.impl.hibernate.UserDaoImpl"/>
	<bean id="roleDao" class="com.iwisdom.common.dao.impl.hibernate.RoleDaoImpl"/>
	<bean id="groupDao" class="com.iwisdom.common.dao.impl.hibernate.GroupDaoImpl"/>
	<bean id="menuDao" class="com.iwisdom.common.dao.impl.hibernate.MenuDaoImpl"/>
	
	<bean id="contentManagementDao" class="com.iwisdom.cms.dao.impl.ContentManagementDaoImpl"/>
	<bean id="utilDao" class="com.iwisdom.common.dao.impl.jdbc.UtilJdbcDaoImpl"/>
	<bean id="brandDao" class="com.iwisdom.brand.dao.impl.BrandDaoImpl"/>
	<bean id="serviceDao" class="com.iwisdom.servicebus.dao.impl.ServiceDaoImpl"/>
	
</beans>
